*{
    padding: 0;
    margin: 0;
}

#game{
    width: 1500px;
    height: 800px;
    border: 1px solid black;
}

#character{
    width: 100px;
    height: 200px;
    background-color: rebeccapurple;
    position: relative;
    top: 600px;
    left: 300px;
}

.Podskok{
    animation: jump 650ms;
}
@keyframes jump{
    0%{top:600px;}
    50%{top:350px;}
    100%{top:600px;}
}


#block{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 500px;
    left: 1400px;
}

.animacjaBloku{
    animation: blockMove 2s linear infinite;
}
@keyframes blockMove{
    
    0%{left:1400px;}
    100%{left:-200px;}
}